<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

       <context:component-scan
               base-package="com.springinaction.springidol"/>
             <!-- <context:include-filter type="assignable"
                                      expression="com.springinaction.springidol.Instrument"/>
              <context:exclude-filter type="annotation"
                                      expression="com.springinaction.springidol.SkipIt"/>-->


    <bean id="audience" class="com.springinaction.springidol.Audience" />
    <bean id="magician" class="com.springinaction.springidol.Magician"/>
    <bean id="volunteer" class="com.springinaction.springidol.Volunteer" />
 <!--   <aop:config>
        <aop:pointcut id="performance" expression="execution(* com.springinaction.springidol.Performer.perform(..))and not bean(juggler)"/>
        <aop:aspect ref="audience"> &lt;!&ndash; Ссылка на компонент audience &ndash;&gt;
            &lt;!&ndash; Определение среза множества точек сопряжения &ndash;&gt;
            <aop:before pointcut-ref="performance" method="takeSeats" /> &lt;!&ndash; Перед выступлением !!!!!!! juggler не исключается&ndash;&gt;
            <aop:before pointcut-ref="performance" method="turnOffCellPhones" /> &lt;!&ndash; Перед выступлением &ndash;&gt;
            <aop:after-returning pointcut-ref="performance" method="applaud" /> &lt;!&ndash; После выступления &ndash;&gt;
            <aop:after-throwing pointcut-ref="performance" method="demandRefund" /> &lt;!&ndash; После неудачного выступления &ndash;&gt;
        </aop:aspect>

    </aop:config>

    <aop:config>
        <aop:aspect ref="audience">
            <aop:pointcut id="performance2" expression=
                    "execution(* com.springinaction.springidol.Performer.perform(..)) and not bean(juggler)"
                    />
            &lt;!&ndash; Совет, выполняемый и до, и после &ndash;&gt;
            <aop:around
                    pointcut-ref="performance2"
                    method="watchPerformance"/>
        </aop:aspect>
    </aop:config>

    <aop:config>
        <aop:aspect ref="magician">
            <aop:pointcut id="thinking"
                          expression="execution(* com.springinaction.springidol.Thinker.thinkOfSomething(String))
                            and args(thoughts)" />
            <aop:before
                    pointcut-ref="thinking"
                    method="interceptThoughts"
                    arg-names="thoughts" />
        </aop:aspect>
    </aop:config>-->

    <!--  Inject new functional. Interface Performer have new parent  -->
    <aop:config>
        <aop:aspect >
            <aop:declare-parents
                    types-matching="com.springinaction.springidol.Performer+"
                    implement-interface="com.springinaction.springidol.Contestant"
                    default-impl="com.springinaction.springidol.GraciousContestant"
                    />
        </aop:aspect>
    </aop:config>





</beans>